.container{
    max-width: 1242px;
    margin: auto;
    text-align:center;
 
}
h1{
    font-size: 60px;
    font-weight: 900;
    color:darkgreen;
}
.sub-container{
    border: 1px solid black;
    display: inline-block;
    padding: 20px;
    background-color:rgb(19, 17, 17);
    border-radius: 20px;
    
}
table{
    margin: auto;
}
#input{
    font-size: 50px;
    width: 408px;
    height: 90px;
    border-radius:20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 14px rgb(33, 27, 27);
    padding: 10px 20px ;
    background-color: rgb(208, 213, 201);
    text-align: end;
}

button{
    font-size: 40px;
    width: 105px;
    height: 80px;
    background-color:rgb(109, 74, 27);
    color: white;
    border-radius: 20px;
}
button:hover{
    background-color:rgb(220, 141, 36);
}